body p{
    color: green;
    }
body{
    background: black;
    color: red;
}
body{
    color: white;
}
div{
    display: flex;
    
}
h1{
    margin: 20px;
    padding: 30px 0 0 0;
}
.in{
    margin: 0;
    padding: 0 0 20px 0;
}
.centro{
    margin: 0 2% 0 2%;
}
p{
    color: blue;
}